/* RESET */

*                 {box-sizing:border-box}
button,.clickable {cursor:pointer}
img 							{max-width:100%;}

/* effects */

@keyframes opa {from{opacity:var(--f)}to{opacity:var(--t)}}

.fadeIn  {--f:0;--t:1;animation:opa ease-in  var(--s,1s)          }
.fadeOut {--f:1;--t:0;animation:opa ease-out var(--s,1s);opacity:0}

/* additional classcade */

.tl    {top:0;left:0}
.tr    {top:0;right:0}
.bl    {bottom:0;left:0}
.rb    {right:0;bottom:0}
.trl   {top:0;right:0;left:0}
.rbl   {right:0;bottom:0;left:0}
.tbl   {top:0;bottom:0;left:0}
.trb   {top:0;right:0;bottom:0}
.trbl  {top:0;right:0;bottom:0;left:0}

.clear {clear:both}

/* FLEX */

.cubes3 {
	align-items:flex-start;
	display:flex;
	flex-wrap:wrap;
}
.cubes3 > * {
	flex-basis:calc(100%/3);
	flex-grow:0;
	flex-shrink:0;
}
.cubes5 {
	align-items:flex-start;
	display:flex;
	flex-wrap:wrap;
}
.cubes5 > * {
	flex-basis:calc(100%/5);
	flex-grow:0;
	flex-shrink:0;
}
