/* https://github.com/webgestalter/classcade */

/* align-content */

.ac    {align-content:var(--ai);}
.aca   {align-content:auto;}
.acc   {align-content:center;}
.acfe  {align-content:flex-end;}
.acfs  {align-content:flex-start;}
.acsa  {align-content:space-around;}
.acsb  {align-content:space-between;}
.acacs {align-content:stretch;}

/* align-items */

.ai   {align-items:var(--ai);}
.aib  {align-items:baseline}
.aic  {align-items:center;}
.aife {align-items:flex-end;}
.aifs {align-items:flex-start;}
.ais  {align-items:stretch;}

/* align-self */

.as   {align-self:var(--ai);}
.asa  {align-self:auto;}
.asb  {align-self:baseline;}
.asc  {align-self:center;}
.asfe {align-self:flex-end;}
.asfs {align-self:flex-start;}
.ass  {align-self:stretch;}

/* background */

.bgn {background:none;}
.bgsc{background-size:cover;}

/* border */

.b1   {border:1px;}
.b2   {border:2px;}
.b3   {border:3px;}
.b4   {border:4px;}
.b5   {border:5px;}
.b5   {border:5px;}
.b_da {border:dashed;}
.b_do {border:dotted;}
.b_s  {border:solid;}
.bn   {border:none;}

/* border-radius */

.brad0 {border-radius:0;}
.bradv {border-radius:var(--brad);}

/* box-shadow */

.bs   {box-shadow:var(--bs);}

/* box-sizing */

.bsbb {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/* column-count */

.cc  {-webkit-column-count:var(--cc);-moz-column-count:var(--cc);column-count:var(--cc);}
.cc1 {-webkit-column-count:1;-moz-column-count:1;column-count:1;}
.cc2 {-webkit-column-count:2;-moz-column-count:2;column-count:2;}
.cc3 {-webkit-column-count:3;-moz-column-count:3;column-count:3;}
.cc4 {-webkit-column-count:4;-moz-column-count:4;column-count:4;}
.cc4 {-webkit-column-count:5;-moz-column-count:5;column-count:5;}

.cc1,.cc2,.cc3,.cc4 {column-gap:var(--gap,normal);}

/* display */

.disb  {display:block;}
.disf  {position:flex;}
.disi  {position:inline;}
.disib {position:inline-block;}
.disif {position:inline-flex;}

/* flex */

.fb   {flex-basis:var(--fb);}
.fb10 {flex-basis:10%;}
.fb20 {flex-basis:20%;}
.fb30 {flex-basis:30%;}
.fb40 {flex-basis:40%;}
.fb50 {flex-basis:50%;}
.fb60 {flex-basis:60%;}
.fb70 {flex-basis:70%;}
.fb80 {flex-basis:80%;}
.fb90 {flex-basis:90%;}
.fb100{flex-basis:100%;}

.fd   {flex-direction:var(--fd);}
.fdc  {flex-direction:column;}
.fdcr {flex-direction:column-reverse;}
.fdr  {flex-direction:row;}
.fdrr {flex-direction:row-reverse;}

.fg   {flex-grow:var(--fg);}
.fg0  {flex-grow:0;}
.fg1  {flex-grow:1;}

.fs   {flex-shrink:var(--fg);}
.fs0  {flex-shrink:0;}
.fs1  {flex-shrink:1;}

/* height & width */

.ha   {height:auto;}
.hw   {height:var(--hw);width:var(--hw);}
.wa   {width:auto;}

/* list-style */

.ls   {list-style:var(--ls);}
.lsn  {list-style:none;}

/* margin */

.m   {margin:var(--m);}
.m0  {margin:0;}
.ma  {margin:auto;}
.mt0 {margin-top:0;}
.mtb0{margin-top:0;margin-bottom:0;}
.mr0 {margin-right:0;}
.mrl0{margin-right:0;margin-left:0;}
.mb0 {margin-bottom:0;}
.ml0 {margin-left:0;}

/* overflow */

.of   {overflow:var(--of);}
.ofa  {overflow:auto;}
.ofh  {overflow:hidden;}
.ofx  {overflow-x:var(--ofx);}
.ofxa {overflow-x:auto;}
.ofxh {overflow-x:hidden;}
.ofy  {overflow-y:var(--ofy);}
.ofya {overflow-y:auto;}
.ofyh {overflow-y:hidden;}

/* opacity */

.opa   {opacity:var(--opa);}
.opa10 {opacity:0.10;}
.opa20 {opacity:0.20;}
.opa30 {opacity:0.30;}
.opa40 {opacity:0.40;}
.opa50 {opacity:0.50;}
.opa60 {opacity:0.60;}
.opa70 {opacity:0.70;}
.opa80 {opacity:0.80;}
.opa90 {opacity:0.90;}
.opa100{opacity:1.00;}

/* position */

.posa {position:absolute;}
.posf {position:fixed;}
.posr {position:relative;}
.poss {position:sticky;}

/* text-align */

.tac {text-align:center;}
.taj {text-align:justify;}
.tal {text-align:left;}
.tar {text-align:right;}

/* text-decoration */

.td   {text-decoration:var(--td);}
.tdi  {text-decoration:inherit;}
.tdlt {text-decoration:line-through;}
.tdn  {text-decoration:none;}
.tdo  {text-decoration:overline;}
.tdu  {text-decoration:underline;}

/* text-transformition */

.tt  {text-transform:var(--tt);}
.ttc {text-transform:capitalize;}
.ttfw{text-transform:full-width;}
.ttl {text-transform:lowercase;}
.ttu {text-transform:uppercase;}
.ttn {text-transform:none;}

/* text-transformition */

.tra1e {transition:all 1s ease;}
.tra2e {transition:all 2s ease;}

/* trbl */

.trbl {top:0;right:0;bottom:0;left:0;}
.trb  {top:0;right:0;bottom:0;       }
.trl  {top:0;right:0;         left:0;}
.tbl  {top:0;        bottom:0;left:0;}
.rbl  {      right:0;bottom:0;left:0;}
.tr   {top:0;right:0;                }
.tb   {top:0;        bottom:0;       }
.tl   {top:0;                 left:0;}
.rb   {      right:0;bottom:0;       }
.rl   {      right:0;         left:0;}
.bl   {              bottom:0;left:0;}
.t0   {top:0;                        }
.r0   {      right:0;                }
.b0   {              bottom:0;       }
.l0   {                       left:0;}

/* z-index */

.zi0  {z-index:0;}
.zi1  {z-index:1;}
.zi2  {z-index:2;}
.zi3  {z-index:3;}
.zi4  {z-index:4;}
.zi5  {z-index:5;}
.zi6  {z-index:6;}
.zi7  {z-index:7;}
.zi8  {z-index:8;}
.zi9  {z-index:9;}
